In [0]:
#Finding Column means:
#Define the dataset
dataset = [[1,2,3],
           [3,4,5],
           [6,7,8]]

In [2]:
# define a placeholed for the means to be stored later
means =[0 for i in range(len(dataset[0]))]
means

[0, 0, 0]

In [6]:
#since I am finding the means of column I iterate first on the column than on the row
for i in range(len(dataset[0])):
  col_values=[row[i] for row in dataset]
  print("col_values:",col_values)
  # store the means in the means
  means[i]=sum(col_values)/3.0
  print("mean[i]",means[i])

col_values: [1, 3, 6]
mean[i] 3.3333333333333335
col_values: [2, 4, 7]
mean[i] 4.333333333333333
col_values: [3, 5, 8]
mean[i] 5.333333333333333

In [0]:
#Find the row means
dataset=[[1,3,5],
         [2,4,6],
         [7,8,9],
        [11,12,13]]

In [0]:
row_sum=[sum(list(row))/float(len(dataset[0])) for row in dataset]

In [10]:
print('means along the row :',row_sum)

means along the row : [2.0, 4.0, 7.0]

In [0]:
#doing the same using numpy ---Along the row
import numpy as np
dataset = np.array(dataset)
sum_of_row=np.sum(dataset, axis=1).tolist() # using numpy to find rows sum
mean_of_rows = np.mean(dataset ,axis=1).tolist()

In [12]:
print('means along the row :',mean_of_rows)

means along the row : [2.0, 4.0, 7.0]

In [13]:
#doing the same using numpy ---Along the column
sum_of_col=np.sum(dataset, axis=0).tolist() # using numpy to find col sum
mean_of_col = np.mean(dataset ,axis=0).tolist()
print('means along the col :',mean_of_col)

means along the col : [3.3333333333333335, 4.333333333333333, 5.333333333333333]