In [0]:
dataset = [['dog','cat','mat'],['dg','ct','mt']]

In [135]:
#integer encoding of the dataset
# get the unique values in the dataset
unique = set(x for row in dataset for x in row)
#create a dictionary 
lookup ={}
#integer encode the dictionary
for i , value in enumerate(unique):
  lookup[value]=i
for row in dataset:
  for column in range(len(dataset[0])):
    row[column]=lookup[row[column]]
print(dataset)

[[2, 1, 5], [3, 0, 4]]

In [136]:
lookup

{'cat': 1, 'ct': 0, 'dg': 3, 'dog': 2, 'mat': 5, 'mt': 4}

In [0]:
dataset1= [[1,2,'mat'],[3,4,'mt']]

In [0]:
# Integer encode a single column
# Convert string column to integer
def str_column_to_int(dataset, column):
      class_values = [row[column] for row in dataset]
      unique = set(class_values)
      lookup = dict()
      for i, value in enumerate(unique):
        lookup[value] = i
      for row in dataset:
        row[column] = lookup[row[column]]
      return lookup

In [139]:
# convert the label dataset to integer
str_column_to_int(dataset1 , 2)

{'mat': 0, 'mt': 1}

In [140]:
dataset1

[[1, 2, 0], [3, 4, 1]]

In [0]:
dataset=['dog','cat','mat']

In [146]:
from sklearn import preprocessing
import numpy as np
datset=np.array(dataset)
le = preprocessing.LabelEncoder()
le.fit(dataset)

LabelEncoder()

In [151]:
le.transform(dataset)

array([1, 0, 2])

In [152]:
list(le.classes_)

['cat', 'dog', 'mat']

In [0]:
#using sklearn labelEncoder for multiple columns
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Create some toy data in a Pandas dataframe
fruit_data = pd.DataFrame({
    'fruit':  ['apple','orange','pear','orange'],
    'color':  ['red','orange','green','green'],
    'weight': [5,6,3,4]})

class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [149]:
MultiColumnLabelEncoder(columns = ['fruit','color']).fit_transform(fruit_data)

   color  fruit  weight
0      2      0       5
1      1      1       6
2      0      2       3
3      0      1       4